network:
  ethernets:
    enp1s0:
      addresses: [{{ansible_enp1s0.ipv4.address}}/24]
      routes:
          - to: default
            via: 192.168.122.1
      nameservers:
        addresses:
          - 8.8.8.8
        search:
          - keights.org
  version: 2
